@import "../../src/shared/design-system/index.base.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  * {
    @apply border-border duration-0;
  }
  body {
    @apply text-lg bg-background font-sans font-medium text-foreground antialiased overflow-x-hidden;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans tracking-normal font-bold;
  }
}
  
@layer utilities {
  .font-heading {
    font-family: var(--font-sans);
    font-style: normal;
    font-weight: bold;
    @apply tracking-normal;
  }
}
